.background-images {
  width: 100%;
  position: relative;
  z-index: 0;
}

.background-image-text {
  width: 100%;
  max-width: 37.938rem;
  z-index: 0;
  top: 0;
}

.background-image-doggy {
  position: absolute;
  right: 30px;
  top: 60%;
  width: 70%;
  height: 70%;
  max-width: 20.875rem;
  max-height: 20.875rem;
  z-index: 100;
}

.background-image-arrow {
  position: absolute;
  left: 37rem;
  top: 17.8rem;
  width: 9.938rem;
  height: 7.938rem;
  z-index: 0;
}


// Temporary breakpoints. TBD



/* Hide Arrow below Tablet! It is too hard to see */
@media only screen and (max-width: 992px) {
  .background-image-arrow {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
}

/* Tablet */
@media screen and (min-width: 600px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}