.Button {
  color: white;
  display: inline-block;
  border-radius: 2px;
  margin-top: 1rem;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.1s;
}

.Button:hover,
.Button:active {
  opacity: .4;
}