.nav {
  width: 100%;
  height: 4rem;
  display: flex;
  position: relative;
}

.logo-link {
  margin: 0;
  position: absolute;
  left : 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: white;
  align-self: center;
  vertical-align: middle;
}

.menu-wrapper {
  position: absolute;
  height: 100%;
  right: 0;
}

.nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-item {
    padding: 1.25rem;
    a {
      height: 100%;
      text-decoration: none;
      color: white;
    }
  }
  .nav-item:hover,
  .nav-item:active {
    cursor: pointer;
    opacity: 0.4;
  }
}

// todo: separate discrete breakpoints for tablet and cell

@media screen and (max-width: 767px) {
  .nav-items {
    display: none;
  }
}