.logo-link {
  margin: 0;
  position: absolute;
  left : 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: white;
  align-self: center;
  vertical-align: middle;
}

.menu-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
  position: relative;
}

.desktop-nav {
  position: absolute;
  height: 100%;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .desktop-nav {
    display: none;
  }
}