.card {
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 0.01rem solid white;
  border-radius: 2px;
  padding: 1rem;
}

.card__image {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.card__image > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.card-content{
  color: white;
  width: 100%;
}

.card__crop-text {

}

.card__hr > hr {
    width: 80%;
}

.card__title {
  font-weight: 600;
}

.card__author {
  font-size: 10px;
}

.card-button {
  margin-top: auto;
}

.card-button:hover, .card-button:active {
  opacity: 40%;
}